.friend-request-slide {
	position: absolute;
	margin-top: 250px; 
	left: 300px;
	background-color: white;
	width: 500px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 5px ;

  }
  
  
  .friend-request-slide-profile-photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .friend-request-slide-info {
	flex-grow: 1;
  }
  
  .friend-request-slide-username {
	font-weight: bold;
  }
  
  .friend-request-slide-button-container {
	margin-left: auto;
  }
  
  .friend-request-slide-button {
	padding: 4px 1px;
	background-color: #1877f2; 
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .friend-request-slide-button:hover {
	background-color: #0e5aaf; 
  }
  .send-request-button{
	background-color: #1877f2;
	border-radius: 4px;
	color: #333;
	margin-top: 10px;
	opacity: 0.7; 
	width: 500px;
	height: 60px;
	
   
  }
  .already-sent {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	padding: 2px 4px;
	
	opacity: 0.7; 
	width: 100px;
	margin-left: 400px;
	margin-top: 0px;
	transition: opacity 0.3s ease-in-out; 
  }
  
  .already-sent:hover {
	opacity: 1; 
  }