.post {
  margin-left: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 30px; 
  padding: 20px;
  background-color: #fff;
  display: center;
  flex-direction: column; 
  align-items: center;
}
.send-request-button{
  background-color: #1877f2;
  border-radius: 4px;
  color: #333;
  padding: 2px 4px;
  margin-top: 10px;
  opacity: 0.7; 
  width: 100px;
  margin-left: 400px;
 
}
.already-sent {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  padding: 2px 4px;
  margin-top: 10px;
  opacity: 0.7; 
  width: 100px;
  margin-left: 400px;
  margin-top: 0px;
  transition: opacity 0.3s ease-in-out; 
}

.already-sent:hover {
  opacity: 1; 
}
.post img {
  max-width: 100%; 
  border-radius: 8px;
  margin-bottom: 10px;}

.comment-section {
  margin-top: 20px;
}

.comment-section input[type="text"] {
  width: calc(100% - 30px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}
.comment-section button {
  padding: 8px 12px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-section ul {
  list-style-type: none;
  padding: 0;
}

.comment-section li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.comment-section li:first-child {
  border-top: none;
}

.comment-section li span {
  font-weight: bold;
  margin-right: 5px;
}
.profile-picture {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
}


.like-button {
  background-color: transparent;
  border: none;
  color: #006efe;
  cursor: pointer;
  font-weight: bold;
  margin-right: 8px;
}


.delete-button {
  background-color: transparent;
  border: none;
  color: #2c2a2aac;
  cursor: pointer;
  font-weight: bold;
}


.save-button {
  
  border: none;
  border-radius: 5px;
  color: #1d1e2090;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  padding: 4px 4px;
}
.edit-image {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #4166d6;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  padding: 4px 8px;
}

.edit-button {
  background-color: transparent;
  border: none;
  color: #165db9;
  cursor: pointer;
  font-weight: bold;
  margin-left: 8px;
}
