/* Add this to your CSS file */
.posts-container {
    display: flex;
    flex-direction: column;
    align-items: right;
  }
  .post-image {
    max-width: 100%; 
    height: auto; 
    margin-top: 10px; 
  }