.right-menu {
    width: 150px;
    height: 1000px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 2px;
    background-color: #98aecf;
    border-radius: 8px;
    box-shadow: 20px 10px 4px rgba(0, 0, 0, 0.1);
}

.right-menu ul {
    list-style: none;
}

.right-menu ul li {
    margin-bottom: 10px;
    height: 150px;
    font-size: 25px;
    color: #2f2424;
    cursor: pointer;
    margin-left: 2px;
}

.right-menu ul li:hover {
    color: #1877f2;
}

.mode-toggle {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4267b2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.right-menu.dark-mode {
    background-color: #333;
    color: #a09bab; 
  }
  .right-menu.dark-mode li {
    color: #a09bab; 
  }