

.right-menu {
  width: 250px; /* Adjust the width as needed */
  height: 100%; /* Make the menu take up the full height of its container */
  padding:200px 53px; /* Add padding for better spacing */
  background-color: #f0f2f5; /* Example background color */
  border-right: 1px solid #ccc; /* Example border on the right side */
}
.right-menu ul li {
    margin-top: 10px;
    height: 200px;
    margin-bottom:150px;
    font-size: 25px;
    color: #2f2424;
    cursor: pointer;
    margin-left: 20px;
}
  .right-menu ul li:hover {
    color: #1877f2; 
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add space between form inputs */
  }form input[type="text"], form input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .mode-toggle {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #1877f2; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .right-menu.dark-mode {
    background-color: #18191a; 
    color: #fff; 
  }
  
  .right-menu.dark-mode li {
    color: #fff; 
  }
  
  .profile-picture-user {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
  }
  .profile-picture-user {
    cursor: pointer;
  }

  button {
    background-color: #5b91d8;
    color: #fff;
    cursor: pointer;
    padding: 5px 8px; 
	 border-radius: 3px;
	  cursor: pointer;
	  font-size: 12px;
  }
  
  button:hover {
    background-color: #166fe5;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  input[type="file"] {
    display: none; 
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #f0f0f0;
  }