
.search {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.search input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333;
}

.search button {
    padding: 8px 16px;
    background-color: #4267b2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search.dark-mode input[type="text"] {
    /* Dark mode styles for input */
    color: #fff;
    background-color: #333;
    border-color: #666;
  }
  
  