/* Share.css */

.share {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .share textarea {
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 10px 15px;
    border: none;
    background-color: #f0f2f5;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .share button {
      background-color: #5b91d8;
      color: #fff;
      cursor: pointer;
      padding: 10px 20px; 
     border-radius: 3px;
      cursor: pointer;
      font-size: 15px;
    }
    
    button:hover {
      background-color: #166fe5;
    }
    
    .link:hover {
      text-decoration: underline;
    }
  

  .share.dark-mode textarea {
     /* White text color */
    color: #e6e1e1;
     /* Dark background color */
    background-color: #333;
    border-color: #666;
  }
  
  /* Additional styles for dark mode slide */
.share.dark-mode.slide {
    background-color: #333; /* Dark background color */
}
.selected-photo {
  max-width: 10px; 
  max-height: 40px; 
  margin-top: 10px; 
}
